{% extends 'base.html.twig' %}

{% block title %}Hello PostController!{% endblock %}

{% block body %}
    <div>
        <h1>{{ post.title }}</h1>
        <div> {{ post.body }}</div>
    </div>
{% endblock %}